*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    color: #002233;
}

.image {
    width: 50%;
    height: 100vh;
    background-image: url('../Assits/SignIn/BackGround.png');
    background-size: cover;
    background-position: left top;
}
.Container{
    display: flex;
    height: 100vh;
    flex-direction: row;

}
.rightSide{
    /* display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}
.HeaderText{
    text-align: center;
}
input[type=text]{
    height: 70px;
    width: 543px;
}
.fieldsContainer{
    /* display: flex;
    height: 100vh;
    flex-direction: row; */
}